<!DOCTYPE html>
<html>
<head>
	<title>mouse tracking</title>
	<style>	
		html, body{
			height: 100%;
			margin: 0;
			padding: 0;
			width: 100%;
			outline: 1px solid green;
		}
		#buttons{
			display: inline;
			height: 20vh;
		}

		button{
			border-radius: 3px;
			height: 145px;
			width: 32%;
		}
		#tracker{
			height: 80vh;
			width: 100%;
			outline: 3px solid red;		
		}
		#output{
			font-size: 30px;
			height: 200px;
			width: 200px;
		}
	</style>
</head>
<body>
	<div id="tracker">
		<textarea id="output"></textarea>
	</div>
	<div id="buttons">
		<button value="left">L</button>
		<button value="center">X</button>
		<button value="right">R</button>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var serverIP = location.hostname;
		var serverPort = location.port;

		var thing = name;

		console.log(thing);

		var tracker = document.getElementById('tracker');
		var output = document.getElementById('output');
		var buttons = document.getElementById('buttons');
		var socket = io.connect('http://' + serverIP + ':' + serverPort);

		tracker.addEventListener('touchmove', function(e){
			pointerPosition = {
				x: e.touches[0].pageX,
				y: e.touches[0].pageY
			};
			//output.value = pointerPosition.x + " - " + pointerPosition.y;
			output.value = e.touches[0];
			socket.emit('pointerPosition', { pointerPosition: pointerPosition } );
		}, false);

		buttons.addEventListener('click', function(e){
			console.dir(e.target.value);
			socket.emit('buttonClick', { buttonPress: e.target.value });
		});

		// only for debugging
		/*
		elem.addEventListener('mousemove', function(eventData){
			pointerPosition = {
				x: eventData.pageX,
				y: eventData.pageY
			};
			output.value = pointerPosition.x + " - " + pointerPosition.y;
			socket.emit('pointerPosition', { pointerPosition: pointerPosition } );
		}, false);
		*/

	</script>
</body>
</html>
