<!DOCTYPE html>
<html>
<head>
	<title>mouse tracking</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<style>	
		html, body{
			height: 100%;
			margin: 0;
			overflow-y: hidden;
			padding: 0;
			width: 100%;
		}
		#buttons{
			display: inline;
			height: 20vh;
		}
		button{
			border-radius: 3px;
			height: 70px;
			width: 49%;
		}
		#tracker{
			height: 85vh;
			width: 99%;
		}
		canvas{
			height: 95%;
			width: 95%;
		}
	</style>
</head>
<body>
	<div id="tracker">
		<canvas></canvas>
	</div>
	<div id="buttons">
		<!--
		<button value="left">L</button>
		-->
		<button value="center">Center</button>
		<button value="right">R</button>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		var serverIP = location.hostname;
		var serverPort = location.port;
		var socket = io.connect('http://' + serverIP + ':' + serverPort);
		var prevCoordinates = {};
		var touchStartTime;		
		var tracker = document.getElementById('tracker');
		var output = document.getElementById('output');
		var buttons = document.getElementById('buttons');

		tracker.addEventListener('touchstart', function(e){
			touchStartTime = new Date().getTime();
			prevCoordinates.x = Math.round(e.touches[0].pageX);
			prevCoordinates.y = Math.round(e.touches[0].pageY);
		}, false);

		tracker.addEventListener('touchend', function(e){
			var currX = Math.round(e.changedTouches[0].pageX);
			var currY = Math.round(e.changedTouches[0].pageY);
			var timeDiff = (new Date().getTime() - touchStartTime) / 125;
			
			var timeAdjustedDeltaX = (currX - prevCoordinates.x) / timeDiff;
			var timeAdjustedDeltaY = (currY - prevCoordinates.y) / timeDiff;

			socket.emit('pointerMove', { "deltaX": timeAdjustedDeltaX, "deltaY": timeAdjustedDeltaY	});
		}, false);
		
		tracker.addEventListener('click', function(e){
			socket.emit('buttonClick', { buttonPress: 'left' });
		});		

		tracker.addEventListener('dblclick', function(e){
			socket.emit('buttonDblClick', { buttonPress: 'left' });
		});
		
		buttons.addEventListener('click', function(e){
			socket.emit('buttonClick', { buttonPress: e.target.value });
		});

	</script>
</body>
</html>
