html, body{
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	padding: 0;
	width: 100%;
}
#buttons{
	display: inline;
	height: 20vh;
}
button{
	border-radius: 3px;
	height: 70px;
	width: 32%;
}
#tracker{
	height: 80%;
	width: 99%;
}
#output{
	font-size: 10px;
	height: 5%;
	width: 95%;
}
.hide{
	display: none;
}
canvas{
	height: 95%;
	width: 95%;
}